<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.bseven.member.mapper.MemberSQLMapper">

	<insert id="joinMember">
		INSERT INTO b7_member VALUES(b7_member_seq.nextval, #{member_id}, #{member_pw}, #{member_nickname}, #{member_gender}, #{member_birth}, #{member_phone}, #{member_email}, SYSDATE)
	</insert>
	
	<select id="getMemberByIdAndPw" resultType="com.ja.bseven.vo.MemberVo">
		SELECT *
		FROM b7_member
		WHERE member_id = #{member_id} AND member_pw = #{member_pw}
	</select>
	
	<select id="getMemberByNo" resultType="com.ja.bseven.vo.MemberVo">
		SELECT *
		FROM b7_member
		WHERE member_no = #{no}
	</select>
	
	<!-- 강사 관리 보드 -->
	<insert id="insertTeacherToSQL">
		insert into b7_teacher values (b7_teacher_seq.nextval, #{member_no}, #{introduction})
	</insert>
	
	<select id="getTeacherCheck" resultType="int">
		select count(*) from b7_teacher where member_no = #{member_no}
	</select>
	
	<select id="getTeacherNoByMemberno" resultType="com.ja.bseven.vo.TeacherVo">
		select * from b7_teacher where member_no = #{member_no}
	</select>
	
	<select id="getTeacherName" resultType="com.ja.bseven.vo.MemberVo">
		select * from b7_member where member_no = (select member_no from b7_teacher where teacher_no = #{teacher_no})
	</select>
	
	<!-- cart 관리 -->
	<insert id="insertCartVo">
		insert into b7_cart values (b7_cart_seq.nextval, #{member_no}, #{course_no})
	</insert>
	
	<select id="getCartListByMemberNo" resultType="com.ja.bseven.vo.CartVo">
		select * from b7_cart where member_no = #{member_no}
	</select>
	
	<select id="getCartByCartNo"  resultType="com.ja.bseven.vo.CartVo">
		select * from b7_cart where cart_no = #{cart_no}
	</select>
	
	<delete id="deleteCartVo">
		delete from b7_cart where cart_no = #{cart_no}
	</delete>
	
	<select id="getCartNo" resultType="int">
		select cart_no from b7_cart where member_no = #{member_no} and course_no = #{course_no}
	</select>
	
	<select id="getCartCount" resultType="int">
		select count(*) from b7_cart where member_no = #{member_no} and course_no = #{course_no}
	</select>
	
	
	
	<!--  order 관리 -->
	<insert id="insertOrderVo">
		insert into b7_order values (b7_order_seq.nextval, #{member_no}, #{course_no}, sysdate, NULL, NULL)
	</insert>
	<select id="getOrderList" resultType="com.ja.bseven.vo.OrderVo">
		select * from b7_order where member_no = #{member_no}
	</select>
	<select id="getOrderListByCourse_no" resultType="com.ja.bseven.vo.OrderVo">
		select * from b7_order where course_no = #{course_no}
	</select>
	<select id="getOrderVo" resultType="com.ja.bseven.vo.OrderVo">
		select * from b7_order where order_no = #{order_no}
	</select>
	<update id="refundOrder">
		update b7_order set order_refund_text = #{order_refund_text}, order_refund_date = sysdate where order_no = #{order_no}
	</update>
	<select id="getOrderCount" resultType="int">
		select count(*) from b7_order where course_no = #{course_no} and member_no = #{member_no}
	</select>
	<select id="getOrderCheck" resultType="int">
		select count(*) from b7_order where course_no = #{course_no} and member_no = #{member_no}
	</select>
	
	<!--  wishlist 관리 -->
	<insert id="insertWishlistVo">
		insert into b7_wishlist values (b7_wishlist_seq.nextval, #{member_no}, #{course_no})
	</insert>
	
	<select id="checkWishlistVo" resultType="int">
		select count(*) from b7_wishlist where member_no = #{member_no} and course_no = #{course_no}
	</select>
	
	<select id="countWishlistVo" resultType="int">
		select count(*) from b7_wishlist where course_no = #{course_no}
	</select>
	
	<delete id="deleteWishlistVo">
		delete from b7_wishlist where member_no = #{member_no} and course_no = #{course_no}
	</delete>
	
	<select id="getWishlistVo" resultType="com.ja.bseven.vo.WishlistVo">
		select * from b7_wishlist where member_no = #{member_no}
	</select>
</mapper>